.Loader,
.Loader:before,
.Loader:after {
  border-radius: 50%;
}
.Loader {
  color: #8dbd40;
  font-size: 11px;
  text-indent: -99999em;
  margin: 0 auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  transform: translateZ(0);
}
.Loader:before,
.Loader:after {
  position: absolute;
  content: '';
}
.Loader:before {
  width: 5.2em;
  height: 10.2em;
  background: whitesmoke;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  transform-origin: 5.2em 5.1em;
  animation: load2 1.33s infinite ease 1s;
}
.Loader:after {
  width: 5.2em;
  height: 10.2em;
  background: whitesmoke;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  transform-origin: 0px 5.1em;
  animation: load2 1.33s infinite ease;
}
.Inverse {
  color:whitesmoke;
}
.Inverse:before, .Inverse:after{
  background: #8dbd40;
}
@-webkit-keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#aicon{
    display: flex;
    min-height: calc(100vh - 215px);
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    background: whitesmoke;
}
.aicon-card{
    background: white;
    padding: 40px;
    margin: 30px 0px;
    box-shadow: 0px 5px 30px 0px #80808057;
    border-radius: 2px;
    width: 100%;
    max-width: 800px;
}
.aicon-search-details{
	display: flex;
    text-align: center;
}
.aicon-search-details span:nth-child(1){
	font-size: 25px;
    background: #b0de88;
    display: inline-block;
    color: white;
    padding: 5px 15px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.aicon-search-details span:nth-child(2){
	width: 100%;
    font-weight: 500;
    background: #c7c7c7;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    font-size: 25px;
    text-align: center;
}
.aicon-results{
	display: table !important;
	border-collapse: collapse;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	width: 100%;
}
.aicon-results tr:first-child{
	background: gray;
}
.aicon-results th{
	color: white;
}
.aicon-results a{
	text-decoration: none;
	color: rgb(128,174,3);
	font-weight: bold;
	cursor: pointer;
}
.aicon-results a:hover{
	text-decoration: underline;
}
.aicon-results td{
	border-bottom: 1px solid #d0d0d0;
}
.aicon-results td, .aicon-results th{
	text-align: center;
	padding: 8px;
}
.align-left{
	text-align: left !important;
}
.aicon-found{
	background: #fd8181;
	padding: 3px 8px;
	color: white;
	border-radius: 4px;
}
.aicon-not-found{
	background: #a2cdf3;
	padding: 3px 8px;
	color: white;
	border-radius: 4px;
}
.aicon-hidden{
    display:none !important;
}
.MainInfo{
	background: aliceblue;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 3px;
	text-align: left;
}
.MainInfo b{
	font-weight: 700;
}
.MainInfo h2{
	padding: 0px 0px 15px;
	text-align:left;
}
.MainInfo h3{
	padding: 5px;
    font-weight: 500;
    text-align:left;
}
.TableTitle{
	margin: 10px 0px;
	text-align: left;
}
.aicon-label{
    display:none;
}

@media (max-width: 770px){
    .aicon-label{
        display:inline-block;
    }
    .aicon-results tr, .aicon-results td, .aicon-results{
        display: block;
        width: 100%;
    }
    .aicon-results tr:first-child{
        display: none;
    }
    .aicon-results{
        border-top: 1px solid #d0d0d0;
    }
    .aicon-results td{
        border-bottom: 0px;
        text-align: left;
        padding: 1px;
    }
    .aicon-results tr{
    	border-bottom: 1px solid #d0d0d0;
        width: calc(100% - 24px);
        padding: 12px;
    }   
    .aicon-results tr:nth-child(even){
        background: #f7f7f7;
    }
}








