div#home form#searchAiconForm input{
	padding-right: 50px;
    width: 310px !important;
    border: 1px solid white;
    margin: 0px;
    color: #bbbbbd;
}
div#home form#searchAiconForm input.not-searching{
	background: url(/images/search.png) no-repeat right;
    background-color: #ffffff;
    background-size: auto 50%;
    background-position-x: 96.5%;
}
form#searchAiconForm{
	width: auto;
    display: inline-block !important;
    position: relative;
}
form#searchAiconForm input{
	padding-right: 50px;
	width: 210px !important;
}
div#aicon div.welcome-page img#aiconGoogleLoader, img#aiconGoogleLoader{
	display: none;
    width: 30px;
    height: 30px;
	position: absolute;
	top: 10px;
	right: 20px;
}
div#googleResults{
    background: white;
    margin: 2px 0px;
    position: absolute;
    width: 100%;
    box-shadow: 0px 0px 8px 0px #0000005c;
    border-radius: 4px;
    overflow: hidden;
    z-index: 35;
}
#googleResults img{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 7px;
}
#googleResults > div{
	display: flex;
	padding: 5px;
	background-color: white;
	cursor: pointer;
}
#googleResults > div:hover{
	background-color: #eaeaea;
}
#googleResults > div > div{
	width: calc(100% - 50px);
}
#googleResults span{
	display: block;
	font-size: 15px;
	color: #222;
	text-shadow: none;
	text-align: left;
	padding-left: 5px;
}
#googleResults span:nth-child(2){
	color:#777;
	font-size: 13px;
}
#storesResults{
	overflow: hidden;
	height: 0px;
	transition: all .8s;
	padding-top: 70px;
	height: 1240px;
}
#storesResults table{
	display: block;
    margin: 40px auto;
    width: 690px;
    border-collapse: collapse;
    position: relative;
}
#storesResults tbody{
	display: block;
    width: 100%;
    position: relative;
}
#storesResults tr{
	margin: 6px 0px;
    display: block;
    width: 100%;
    background: whitesmoke;
    border-radius: 10px;
    position: relative;
}
#storesResults tr:first-child{
	background: transparent;
	color: gray;
}
#storesResults tr:first-child th:first-child{
	text-align: left;
}
#storesResults tr:first-child th:last-child{
	text-align: right;
}
#storesResults td:last-child{
	text-align: right;
	padding-right: 10px;
}
#storesResults td, #storesResults th{
	width: calc(33.33% - 10px);
    text-align: center;
    position: relative;
    display: inline-block;
}
#storesResults td:first-child a{
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 700;
    color: #444;
    font-size: 16px;
}
#storesResults td:nth-child(2) a{
	color: white;
    background: #f76464;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 3px;
    margin: auto;
    display: block;
    text-align: center;
    width: 120px;
}
#storesResults td:first-child img{
	width: 40px;
    height: 40px;
    display: block;
    margin: 8px;
}
#storesResults td:nth-child(2) img{
	width: 30px;
	height: 30px;
	display: block;
	margin:auto;
}
#storesResults > div p{
	padding: 0px;	
}
#storesResults > div h2{
	padding: 40px 10px 10px;
}
#storesResults > div p span{
	font-weight: bold;
    margin: 10px;
    font-size: 24px;
    color: #8cbd3f;
}
#storesResults > div h2 span{
	text-transform: capitalize;
}
form#searchAiconForm a{
	font-size: 20px;
    width: 200px;
    padding: 6px 0px;
    display: block;
    border-radius: 50px;
    margin: auto;
    color: white;
    background: #8cbd3f;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 100px);
    text-shadow: none;
    text-decoration: none;
}
div.welcome-page{
	overflow: visible !important; 
	z-index:60;
}
@media only screen and (max-width:740px) {
	#storesResults table{
		width: 440px;
	}
	#storesResults td:nth-child(2) a{
		padding: 8px 0px;
		width: 100px;
	}
}
@media only screen and (max-width:550px) {
	#storesResults table{
		width: 350px;
		margin: auto;
	}
	#storesResults td:last-child, #storesResults tr:first-child th:last-child{
		width: calc(20% - 10px);
	}
	#storesResults td, #storesResults th{
		width: calc(40% - 10px);
	}
}
@media only screen and (max-width:390px) {
	form#searchAiconForm{
        width: 100% !important;
    }
    div#home form#searchAiconForm input{
        width: calc(100% - 60px) !important;
    }
}







