@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
html{
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}
*{
	transition: all 0.5s;
}
body, html{
	font: 14px / 1.43 "Open Sans", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 100%;
	color:#2f2f2f;
}
h1, h2, h3, h4, h5, p, ul, li{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
p{
	font-size: 20px;
	padding: 20px;
}
img{
	display: block;
	margin: auto;
}
input, textarea{
	width: 210px;
    margin: 0px 5px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 17px;
    padding: 0px 10px;
    outline: none;
    resize: none;
    color: #555;
}
form.with-border input, form.with-border textarea{
	border: 1px solid lightgray;
}
textarea{
	height: 130px;
}
button[type="submit"]{
	width: 110px;
    margin: 0px 5px;
    height: 50px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    background-color: #8cbd3a;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
	text-shadow: 0 1px rgba(0,0,0,.2);
	outline: none;
}
button[type="submit"]:hover, button[type="submit"]:focus, button[type="submit"]:active{
	background-color: #aeec49;
}
input::placeholder, textarea::placeholder{
	color: #bbb;
}


/************************** MENU ******************************/

nav{
	display: block;
	position: fixed;
	width: 100%;
	height: 190px;
	background: #8cbc3f;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	color:white;
	z-index: 9000;
	top:0px;
	left: 0px;
}
nav img{
	display: block;
    width: 95px;
    height: auto;
    margin: 18px auto 22px;
    position: relative;
}
nav ul{
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
}
nav li{
	list-style-type: none;
}
nav a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0px 20px;
	font-size: 15px;
	font-weight: 600;
}
nav a.contact{
	background-color: white;
    color: #8cbc3f;
    font-weight: bold;
    padding: 6px 11px;
    border-radius: 20px;    
    margin: 0px 10px;
}

/************************** HOME, WELCOME FLOOR ******************************/

div#home div.welcome-page{
	height: 600px;
    position: relative;
    overflow: hidden;
    padding-top: 190px;
	position: relative;
	overflow: hidden;
}
div#home div.welcome-page .parallax{
	background: url(../images/people-using-smartphones.jpg) no-repeat;
	background-size: auto 100%;
	background-position: 50% 50%;
    background-attachment: fixed;
}
div#home div.welcome-page img{
	width: 100%;
	display: block;
	height: auto;
}

div#home div.welcome-page p{
	padding: 20px 20px 30px;
	max-width: 900px;
    margin: auto;
}

/************************** HOME, CLIENTS FLOOR ******************************/

div#home div#clientsList{
	padding: 40px 20px 60px;
	background-color: #ebebeb;
}
div#home .horizontal-grid{
	padding: 50px 20px 0px;
}
div#home div#clientsList img{
	display: block;
	width: 100%;
	height: auto;
}

/************************ HOME, PACKAGES **********************************/
div#home div#packagesList{
	padding: 0px 20px 60px;
}
div#home div#packagesList .title-with-line{
	padding: 40px 5px 20px;
}
div#home div#packagesList p{
	padding: 0px 20px 30px;
}
div#home div#packagesList h2{
	font-size: 24px;
	text-transform: uppercase;
	margin: 20px 10px 5px;
}
div#home div#packagesList h3{
	font-size: 16px;
	text-transform: uppercase;
	margin: 0px 10px 5px;
	color:#8cbd3a;
}
div#home div#packagesList img{
	height: 170px;
	width: auto;
}
div#home div#packagesList span{
	display: block;
	font-weight: 600;
	color: #555;
	font-size: 15px;
}
div#home div#packagesList li{
	padding: 20px;
}
div#home div#packagesList li:hover{
	background: #f3f3f3;
    border-radius: 11px;
    cursor: pointer;
}
div#home div#packagesList a{
	text-decoration: none;
    color: inherit;
}
div#home div#packagesList li p{
	font-size: 16px;
	padding: 5px 10px 20px;
	line-height: 21.75px;
	font-weight: 400;
	color: #555;
}


/************************ HOME, ENTERPRISE PACKAGE **********************************/

div#home div#enterprisePackage{
	padding: 40px 0px;
    background: #ebebeb;
}
div#home div#enterprisePackage > a{
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
div#home div#enterprisePackage > a:hover{
	background: #dad9d9;
}
div#home div#enterprisePackage h2{
	font-size: 20px;
	line-height: 1.45;
	text-transform: uppercase;
	color:#8cbd3a;
	padding: 10px 10px 20px;
}
div#home div#enterprisePackage img{
	width: 200px;
}
div#home div#enterprisePackage  p{
	max-width: 440px;
	margin: auto;
	color: #555;
}
div#home div#enterprisePackage span{
	display: block;
	font-weight: 600;
	color: #555;
	font-size: 15px;
	text-align: center;
}

/************************ HOME, EXTRA SERVICES **********************************/

div#home div#extraServices{
	padding: 60px 20px;
}
div#home div#extraServices li p{
	font-size: 15px;
	color: #555;
	padding: 0px;
}
div#home div#extraServices h2{
	font-size: 19px;
	text-transform: uppercase;
	padding: 15px 5px 5px;
}
div#home div#extraServices h3{
	font-size: 16px;
	text-transform: uppercase;
	margin: 0px 10px 5px;
	color:#8cbd3a;
}
div#home div#extraServices li{
	padding:20px 0px 0px;
}

/************************ HOME, BOTTOM CONTACT FORM **********************************/
div#home div#conquerMarketForm{
	position: relative;
}
div#home div#conquerMarketForm .content{
	padding: 80px 20px 90px;
}
div#home div#conquerMarketForm .parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url(/images/people-united.jpg) no-repeat center;
    background-size: cover;
    background-position-y: 100px;
    background-attachment: fixed;
}

/************************ FOOTER **********************************/
footer{
	padding: 70px 20px 50px;
}
footer a{
	text-decoration: none;
	color: #37c;
}
footer .flex a{
	display: inline-block;
    background: rgba(140, 187, 64, 0.38);
    padding: 6px;
    border-radius: 2px;
    margin: 2px;
}
footer img{
	width: 18px;
}
footer p{
	font-weight: bold;
	font-size: 15px;
}

/************************ MARKET PAGE **********************************/

div#market div.welcome-page{
	height: 400px;
    position: relative;
    overflow: hidden;
	position: relative;
	overflow: hidden;
}
div#market div.small-floor{
    padding: 230px 20px 40px;
    height: auto;
}
div#market div.welcome-page .parallax{
	background: url(/images/people-target-market.jpg) no-repeat center;
	background-size: cover;
    background-attachment: fixed;
}
div#market div.welcome-page img{
	width: 100%;
	display: block;
	height: auto;
}
div#market div.welcome-page p{
	padding: 20px 20px 0px;
	max-width: 930px;
    margin: auto;
}
div#market div.welcome-page h2{
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px;
}

/************************ MARKET, BOTTOM CONTACT FORM **********************************/

div#market div#marketForm{
	position: relative;
}
div#market div#marketForm .content{
	padding: 40px 20px 40px;
	background: #ebebeb;
}
div#market h3{
	padding: 30px;
    font-size: 21px;
}
div#market a{
	text-decoration: none;
}
div#market table {
    width: calc(100% - 40px);
    margin: 10px 20px 30px;
}
div#market tr {
    display: block;
    background: #f3f3f3;
    width: calc(100% - 80px);
    margin: auto;
    margin-bottom: 12px;
    padding: 12px 22px;
    border-radius: 8px;
    position: relative;
    max-width: 650px;
    left: 27px;
}
div#market td:nth-child(4) {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 45px;
}
div#market td:nth-child(4) img{
	position: relative;
	top: -10px;
	height: 40px;
}
div#market td:nth-child(3) a {
    color: gray;
    padding-left: 10px;
    font-size: 16px;
}
div#market td:nth-child(2) a {
    font-weight: bold;
    color: black;
    padding-right: 10px;
    font-size: 16px;
}
div#market td:first-child {
    font-size: 28px;
    font-weight: bold;
    color: #b9b9b9;
    width: 31px;
    position: relative;
    left: -47px;
    text-align: right;
    display: block;
    top: 4px;
    position: absolute;
}
div#market td img{
	max-width: 100%;
}
div#market p.disclaimer{
	font-size: 15px;
    padding: 20px 20px 30px;
    color: #555;
}

/************************ MARKET, CHARTS **********************************/
div#market .charts-container{
	padding-top: 20px;
}
div#market .charts-container span{
	margin: 0px 20px 30px;
    width: 290px;
    display: inline-block;
    position: relative;
}
div#market .charts-container h3{
	font-size: 23px;
    margin: 0px 10px 5px;
    padding: 10px;
}

/************************** AICON ******************************/

div#aicon div.welcome-page{
	height: 400px;
    position: relative;
    overflow: hidden;
    padding-top: 190px;
	position: relative;
	overflow: hidden;
}
div#aicon div.welcome-page .parallax{
	background: url(/images/piracy.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
    background-attachment: fixed;
}
div#aicon div.welcome-page img{
	width: 100%;
	display: block;
	height: auto;
}

div#aicon div.welcome-page p{
	padding: 20px 20px 30px;
	max-width: 900px;
}

/*************************** AICON RESULTS ***********************/

div#aicon div.results{
	text-align: center;
	max-width: 1200px;
	margin: 50px auto;
	display: block;
}
div#aicon .results > h1{
	font-weight: 300;
}
div#aicon .results > h1 span{
	font-weight: bold;
	text-transform: uppercase;
}
div#aicon .results h2#totalDownloads{
	font-size: 28px;
    margin-bottom: 20px;
}
div#aicon #loader{
	width: 75px;
	margin: 30px auto 50px;
}
div#aicon div.results > p{
	font-size: 20px;
	padding: 15px;
}
div#aicon div.results div > div {
    background: #eeeeee;
    width: 200px;
    height: 195px;
    display: inline-block;
    border-radius: 8px;
    margin: 15px;
    position: relative;
    overflow: auto;
}
div#aicon img.logo-store {
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 45px;
    width: auto;
}
div#aicon div.results div > div > a {
    font-size: 25px;
    margin-top: 10px;
    display: block;
    color: #88a237;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
}
div#aicon div.results div p{
    padding: 10px;
    font-size: 15px;
}
div#aicon p.bottom-link {
    position: relative;
    margin: 0px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 0px;
}
div#aicon .results a:last-child {
    display: block;
    width: 200px;
    font-size: 17px;
    padding: 7px 5px;
    position: relative;
    background: #92bf3e;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    text-decoration: none;
    position: absolute;
    width: calc(100% - 10px);
    bottom: 0px;
    color: white !important;
    text-transform: initial !important;
}

/*************************** AICON CONTACT FORM ***********************/

div#aicon div#aiconForm{
	position: relative;
}
div#aicon div#aiconForm .content{
	padding: 70px 20px 80px;
	background: #ebebeb;
}

/*************************** ABOUT US ***********************/
div#about > div:first-child {
    margin-top: 190px;
    padding: 80px 20px;
    background: #ebebeb;
}
div#about ul{
	margin-bottom: 100px;
}
div#about img{
	height: 180px;
}
div#about h2{
	font-size: 19px;
	text-transform: uppercase;
	padding: 15px 5px 5px;
}
div#about h3{
	font-size: 16px;
	text-transform: uppercase;
	margin: 0px 10px 5px;
	color:#8cbd3a;
}

#about p{
	max-width: 700px;
	margin: auto;
}

div#about > .content{
	padding-top: 40px;
}

/*************************** ABOUT US FORM ***********************/

div#about div#teamForm{
	position: relative;
}
div#about div#teamForm .content{
	padding: 70px 20px 80px;
	background: #ebebeb;
}

/*************************** CONTACT US ***********************/

div#contact-us div.welcome-page{
	height: 740px;
    position: relative;
    overflow: hidden;
    padding-top: 190px;
	position: relative;
	overflow: hidden;
}
div#contact-us div.welcome-page .parallax{
	background: url(/images/great-wall.jpg) no-repeat;
	background-size: cover;
	background-position: 50% 50%;
    background-attachment: fixed;
}
div#contact-us form{
	margin: 0px 60px;
	width: 340px;
}
div#contact-us div.side{
	width: 320px;
}
div#contact-us span{
	display: block;
	margin: 15px 0px;
}
div#contact-us span img{
	margin: 0px 8px 0px 0px;
	height: 20px;
	width: auto;
}
div#contact-us span p{
	font-size: 15px;
	padding: 0px;
	text-align: left;
}

/************************** PRIVACY POLICY ******************************/

#privacy-policy{
	background: #ebebeb;
	padding: 240px 100px 70px;
	color: #3c3c3c;
}
#privacy-policy p{
	text-align: justify;
	font-size: 18px;
	max-width: 1000px;
	margin: auto;
}
#privacy-policy .policy-container{
	padding: 20px 50px 0px 50px;
	max-width: 900px;
	margin: auto;
}
#privacy-policy .policy-container h3{
	padding: 20px 0px 5px;
    text-align: left;
    font-size: 22px;
}
#privacy-policy .policy-container p{
	font-size: 16px;
    padding: 0px;
    line-height: 24px;
}



/************************** SHARED CLASSES ******************************/

.title-with-line{
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.title-with-line.large{
	font-size: 24px;
	margin-top: 48px;
}
.title-with-line:before, .title-with-line:after{
	content: '';
	display: inline-block;
	width: 75px;
	height: 2px;
	background-color: #2f2f2f;
	margin: 0px 5px;
}
.white-color .title-with-line:before, .white-color .title-with-line:after{
	background-color: white;
}
.flex{
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.white-color{
	color: white !important;
}
.green-button{
	color: white;
	background-color: #8cbc3f;
	text-transform: uppercase;
	font-size: 22px;
	padding: 24px 44px;
	border-radius: 50px;
	font-weight: 700;
	margin: auto;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	text-shadow: 0 1px rgba(0,0,0,.2);
	/*box-shadow:0 1px 3px rgba(0,0,0,0.4);*/
}
.green-button:hover{
	background-color: #aeec49;
}
.align-center{
	text-align: center;
}
.parallax{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 10;
}
.content{
	z-index: 20;
	height: 100%;
	position: relative;
}
.gray-filter{
	background: rgba(0,0,0,0.3); 
	text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.45);
}
.light-gray-filter{
	background: rgba(0,0,0,0.2); 
	text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.45);	
}
.grid{
	display: grid;
	grid-auto-flow: row;
	justify-content: center;
	align-items: center;
}
.grid.double{
	grid-template-columns: 460px 460px;
    grid-gap: 0px 0px;
}
.grid.quadruple{
	grid-template-columns: 210px 210px 210px 210px;
    grid-gap: 40px 20px;
    align-items: baseline;
}
.grid.quintuple{
	grid-template-columns: 180px 180px 180px 180px 180px;
    grid-gap: 20px 20px;
}
.grid.team{
	grid-template-columns: 180px 180px 180px 180px 180px;
    grid-gap: 20px 20px;
}
.vertical-form{
	display: block;
    width: 300px;
    text-align: center;
    margin: auto;
}
.vertical-form input, .vertical-form textarea{
	width: calc(100% - 20px);
    margin: 5px 0px;
}
.vertical-form textarea{
	padding: 10px;
}
.vertical-form button{
	margin: 5px 0px;
}

.grid.top, .flex.top{
	align-items: baseline;
}
.flex.left{
	justify-content: baseline;
}
.align-left{
	text-align: left;
}
.invisible{
	opacity: 0;
}
.hidden{
	display: none !important;
}
.large-button{
	width: 200px !important; 
}
nav ul.nav-displayed{
	top:0px;
}
.open-nav-button{
	cursor: pointer;
	position: fixed;
	z-index: 900;
	width: 50px;
	height: 50px;
	left: 20px;
	top:20px;
	display: block;
	border-radius: 8px;
	display: none;
	background: url("/images/menu.png") no-repeat center;
	background-size: 70%;
	background-color: white;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.4);
}
.open-nav-button.nav-displayed{
	background: url("/images/close.png") no-repeat center;
	background-size: 55%;
	box-shadow: none;
	background-color: transparent;
}
.overlay{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 70;
    top: 0px;
}
.overlay.nav-displayed{
	display: block;
	opacity: 1;
}
p.information{
	font-size: 14px;
    padding: 40px 0px 5px;
}

@media only screen and (max-width: 1000px) {
    .grid.quintuple{
		grid-template-columns: 140px 140px 140px 140px;
	    grid-gap: 20px 20px;
	}
	.grid.double{
		grid-template-columns: 360px 360px;
	    grid-gap: 0px 0px;
	}
	.grid.quadruple {
	    grid-template-columns: 170px 170px 170px;
	    grid-gap: 40px 20px;
	    align-items: baseline;
	}
	nav a{
		padding: 0px 10px;
	}
	.grid.team {
	    grid-template-columns: 180px 180px 180px;
	    grid-gap: 20px 30px;
	}
	div#contact-us form {
	    margin: 0px 40px;
	    width: 320px;
	}
	#privacy-policy{
		padding: 240px 40px 70px;
	}
	div#aicon div.welcome-page{
		height: auto;
	}
	div#aicon div.welcome-page .content{
		padding: 40px 10px;
	}
	div#home div#conquerMarketForm .parallax {
		background-position-y: 50px;
	}
}

@media only screen and (max-width: 740px) {
	nav{

	}
	.grid.quintuple {
	    grid-template-columns: 150px 150px;
	    grid-gap: 20px 30px;
	}
	.grid.double {
	    grid-template-columns: 390px;
	    grid-gap: 0px 0px;
	}
	.grid.quadruple {
	    grid-template-columns: 170px 170px;
	    grid-gap: 10px 20px;
	    align-items: baseline;
	}
	form.flex{
	    display: block !important;
	    width: 80%;
	    margin: auto;
	}
	form.flex > input{
		margin: 5px;
	    width: calc(100% - 20px);
	}
	form.flex > button{
		margin: 10px;
	}
	td, th {
	    padding: 2px;
	    display: block;
	}
	div#market td:nth-child(3) a {
	    padding-left: 0px;
	}
	div#market td:nth-child(4) {
	    right: 20px;
	    top: 24px;
	}
	.grid.team {
	    grid-template-columns: 180px 180px;
	    grid-gap: 10px 10px;
	}
	div#contact-us div.welcome-page{
		height: auto;
	}
	div#contact-us div#contactForm .flex.top{
		display: block !important;
	}
	div#contact-us div#contactForm form{
		margin: auto;
		text-align: center;
	}
	div#contact-us div#contactForm form input, div#contact-us div#contactForm form textarea{
		width: calc(100% - 20px);
		margin: 5px 0px;
	}
	div#contact-us div#contactForm .side{
		margin: 30px auto;
	}
	#privacy-policy{
		padding: 240px 10px 70px;
	}

	nav{
		height: 140px;
	}
	nav ul{
	    position: fixed;
	    top: -540px;
	    background: white;
	    display: block !important;
	    padding: 40px 40px 0px;
	    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.29);
	}
	nav a, nav a.contact {
	    padding: 21px;
	    color: #545454;
	    background: white;
	    display: block;
	    text-transform: capitalize;
	    font-size: 25px;
	    font-weight: 100;
	    text-align: left;
	    margin-left: 26px;
	    border-bottom: 1px solid #dedede;
	    border-radius: 0px;
	}
	.green-button{
		padding:14px 24px;
		font-size: 17px;
	}
	div#contact-us div.welcome-page{
		padding-top: 140px;
	}
	div#market div.small-floor {
    	padding: 190px 20px 40px;
    }
    div#home div.welcome-page{
    	padding-top: 140px;
    }
    div#aicon div.welcome-page{
    	padding-top: 140px;
    }
    div#about > div:first-child{
    	margin-top: 140px;
    }
    .open-nav-button, .close-nav-button{
    	display: block;
    }
    div#home div#conquerMarketForm .parallax {
		background-position-y: 0px;
	}
	.title-with-line{
		font-size: 16px;
	}
	.title-with-line:before, .title-with-line:after{
		width: 35px;
	}
}





